
.pgTitle{
    height: 6rem!important;
}

.about{
    padding-top: 10px;
}

@media (min-width: 412px) and (orientation: portrait){
    .pgTitle{
        margin-top: -1rem!important;
    }
    .aboutCard{
        margin-top: 4rem;
        gap: 4rem!important;
    }
    .waI{
        margin-top: -1.5rem;
    }
}

@media (min-width: 712px) and (orientation: portrait){
    .pgTitle{
        margin-top: 8rem!important;
        font-size: 20px!important;
    }
    .aboutCard{        
        gap: 4rem!important;
    }
}

@media (min-width: 915px) and (orientation: landscape){
    .about{
        font-size: 20px!important;
    }
    .pgTitle{
        margin-top: -4rem!important;
        width: 40vw;
    }
    .aboutCard{
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

@media (min-width: 1024px){
    .pgTitle{
        margin-top: 5rem!important;
    }
    .about{
        font-size: 32px!important;
    }
    .aboutCard{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
    }
}

@media (min-width: 1440px) and (orientation: landscape){
    .pgTitle{
        margin-top: 6rem!important;
        font-size: 42px!important;
    }
    .about{
        font-size: 42px!important;
    }
    .aboutCard{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
    }
}

