
@media (min-width: 712px) and (orientation: portrait){
    .layout{
        margin-top: -5rem!important;
    }
    .selfImg{
        margin-top: -3rem!important;
        width: 26rem!important;
    }
    .openStat{
        font-size: 18px!important;
    }
}

@media (min-width: 1024px) and (orientation: landscape){
    .layout{
        margin-top: 5rem!important;
    }
    .name{
        font-size: 24px!important;
    }
    .selfImg{
        width: 22rem!important;
    }
    .openStat{
        font-size: 18px!important;
    }
}

@media (min-width: 1440px){
    .layout{
        margin-top: 8rem!important;
    }
    .name{
        font-size: 24px!important;
    }
    .selfImg{
        width: 25rem!important;
    }
    .openStat{
        font-size: 18px!important;
    }
}