@media (max-width: 384px) and (orientation: portrait){
    .layOut{
        grid-template-columns: repeat(1, 1fr)important;
        width: 52rem;
    }
    .textArea{
        margin-top: -1rem!important;
        text-align: center!important;
    }
    .selfie{
        width: 18rem;
    }
    
} 

@media (min-width: 390px) and (orientation: portrait){
    .layOut{
        grid-template-columns: repeat(1, 1fr)important;
        width: 52rem;
    }
    .textArea{
        margin-top: -1rem!important;
        text-align: center!important;
    }
    
    
} 

@media (max-width: 412px) and (orientation: portrait){
    .wholePg{
        min-height: 100vh;
    }
    .layOut{
        grid-template-columns: repeat(1, 1fr)important;
        width: 52rem;
    }
    .textArea{
        margin-top: -1rem!important;
        text-align: center!important;
    }
    
    
} 

@media (min-width: 820px) and (orientation: landscape){
    .wholePg{
        min-height: 130vh;
    }
    .layOut{
        grid-template-columns: repeat(2, 1fr)important;
        width: 55rem;
        margin-top: -.5rem;
    }
    .textArea{
        margin-top: -1.8rem!important;
    }
    .selfie{
        margin-top: -8rem!important;
    }
    
} 

@media (min-width: 910px) and (orientation: landscape){
    .wholePg{
        height: 110vh;
    }
    .layOut{
        grid-template-columns: repeat(2, 1fr)important;
        width: 55rem;
        margin-top: -.5rem;
    }
    .textArea{
        margin-top: -1.8rem!important;
    }
    
} 