@media (max-width: 384px) and (orientation: portrait){
    .layOut{
        grid-template-columns: repeat(1, 1fr)important;
        width: 52rem;
    }
    .textArea{
        margin-top: -1rem!important;
        text-align: center!important;
    }
    
    .selfie{
        margin-left: -28.5rem!important;
        margin-top: 20rem!important;
        width: 23rem;
    }
} 

@media (min-width: 390px) and (orientation: portrait){
    .layOut{
        grid-template-columns: repeat(1, 1fr)important;
        width: 52rem;
    }
    .textArea{
        margin-top: -1rem!important;
        text-align: center!important;
    }
    
    .selfie{
        margin-left: -26.5rem!important;
        margin-top: 20rem!important;
        width: 22rem!important;
    }
} 

@media (max-width: 412px) and (orientation: portrait){
    .layOut{
        grid-template-columns: repeat(1, 1fr)important;
        width: 52rem;
    }
    .textArea{
        margin-top: -1rem!important;
        text-align: center!important;
    }
    
    .selfie{
        margin-left: -25.5rem!important;
        margin-top: 20rem!important;
        width: 23rem;
    }
} 

@media (min-width: 820px) and (orientation: landscape){
    .layOut{
        grid-template-columns: repeat(2, 1fr)important;
        width: 55rem;
        margin-top: -.5rem;
    }
    .textArea{
        margin-top: -1.8rem!important;
    }
    .selfie{
        margin-left: 1rem!important;
        margin-top: -2.5rem!important;
        width: 20rem;
    }
} 

@media (min-width: 910px) and (orientation: landscape){
    .layOut{
        grid-template-columns: repeat(2, 1fr)important;
        width: 55rem;
        margin-top: -.5rem;
    }
    .textArea{
        margin-top: -1.8rem!important;
    }
    .selfie{
        margin-left: 5rem!important;
        margin-top: -2rem!important;
        width: 20rem;
    }
} 