@media (min-width: 384px){
    .menuBtn{
        margin-left: 2rem!important;
        font-size: 24px;
    }
}

@media (min-width: 824px) and (orientation: landscape){
    .menuBtn{
        display: none;
    }
}

@media (min-width: 712px) and (orientation: portrait){
    .menuBtn{
        display: none;
    }
}