.titleDes{
    font-size: 18px;
}

@media (min-width: 712px) and (orientation: portrait){
    .pgTitle{
        margin-top: 3rem!important;
    }
    .portCard{        
        margin-top: 4rem!important;
        gap: 5rem!important;
    }
    .allBtn{
        margin-top: 2rem;
    }
    
}


@media (min-width: 1024px) and (orientation: landscape){   
    .portCard{
        margin-top: 4rem!important;
        max-width: 60rem!important;
    }
    .allBtn{
        margin-top: 4rem;
    }
}

