.titleDes{
    font-size: 18px;
}





@media (min-width: 712px){
    .portTitle{
        font-size: 44px!important;
        width: 26rem!important;
        
    }
}







@media (min-width: 1024px){
    .portTitle{
        font-size: 36px!important;
        margin-top: 4rem;
        width: 32rem;
        height: 8rem!important;
    }
    .portCard{
        margin-top: 4rem!important;
    }
    .allBtn{
        margin-top: 4rem;
    }
}

@media (min-width: 1138px){
    .portTitle{
        margin-top: 2rem;
        width: 40vw!important;
        height: 4.5rem;
    }
    .portCard{
        margin-top: 4rem!important;
    }
    .allBtn{
        margin-top: 2rem;
    }
}

@media (min-width: 1440px){
    .portTitle{
        width: 32rem!important;
        height: 10rem!important;
    }
}
