.skillsTitle{
    height: 6rem!important;
}

.skills{
    padding-top: 10px;
}

@media (min-width: 385px){
    .skillsTitle{
        font-size: 26px!important;
        margin-top: 3rem!important;
    }
    .skillsCard{
        margin-top: 2rem;
    }
    .toolCard{
        margin-top: -2rem;
    }
}

@media (min-width: 412px){
    .skillsTitle{
        margin-top: 4rem!important;
    }
    .skillsCard{
        margin-top: 3rem;
        gap: 2rem!important;
    }
   .toolCard{
    margin-top: -.8rem;
   }
}

@media (min-width: 768px){
    .skillsTitle{
        margin-top: 6rem!important;
    }
    .skillsCard{
        margin-top: 8rem;
    }
}

@media (min-width: 844px){
    .skillsTitle{
        width: 40vw;
        margin-top: .5rem!important;
    }
    .skillsCard{
        margin-top: -1rem;
    }
    .toolCard{
        margin: -2.5rem;
    }
}

@media (min-width: 915px){
    .skillsTitle{
        width: 40vw;
        margin-top: 1rem!important;
    }
    .skillsCard{
        margin-top: -1rem;
    }
    .toolCard{
        margin-top: -2rem;
    }
}

@media (min-width: 1024px){
    .skillsTitle{
        margin-top: 4rem!important;
    }
    .skillsCard{
        margin-top: 4rem;
    }
}