.skillsTitle{
    height: 6rem!important;
}

.skills{
    padding-top: 10px;
}


@media (min-width: 1024px){
    .skillsTitle{
        margin-top: 4rem!important;
    }
    .skillsCard{
        margin-top: 4rem;
    }
}